<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="jumbotron text-center">
        <h1>Welcome!</h1>
        <p>Please pick a category</p>
        <p>
          <a class="btn btn-primary btn-lg" href="#" role="button">About</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">Skills</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">Projects</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">Contact</a>
        </p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1>MY SKILLS</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 well text-center">
      <p>
        <%= image_tag 'ruby.png', size: '100' %>
        <%= image_tag 'rails.png', size: '100' %>
        <%= image_tag 'js.png', size: '100' %>
        <%= image_tag 'ember.png', size: '200x100' %>
        <%= image_tag 'html.png' %>
        <%= image_tag 'css.png' %>
        <%= image_tag 'github.svg', size: '100' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1>PROJECTS</h1>
    </div>
  </div>

<% @projects.each do |project| %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= project.title %></h3>
        </div>
        <div class="panel-body">
          <%= project.description %>
        </div>
        <% if project.id > 1 %>
        <div class="panel-footer">
          <%= link_to 'Visit on Heroku', project.url, class: 'btn btn-primary'%>
          <%= link_to 'View on Github', project.url, class: 'btn btn-primary'%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

</div>
